src/main/mule/worlddemo-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<configuration-properties doc:name="Configuration properties" doc:id="cbcdcf9c-9240-4b22-b8a4-ccfdbb978efd" file="myconfig.properties" />
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="ac3453bf-110d-4ac9-b941-8077e939a733" basePath="timezone">
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="6a7ce328-8901-41e5-b116-b1195df77a99" basePath="/api/timezone" >
		<http:request-connection host="worldtimeapi.org" />
	</http:request-config>
	<flow name="worlddemo-apiFlow" doc:id="44e7def9-764b-4f32-bac4-6d80f5e2253c" >
		<http:listener doc:name="Listener" doc:id="a38750c6-36cb-4b54-a77d-ede5842ca47d" config-ref="HTTP_Listener_config" path="${http.path}"/>
		<http:request method="GET" doc:name="Request" doc:id="78a2773d-3ef4-4b03-8816-d2611b6e4550" config-ref="HTTP_Request_configuration" path="/{region}/{city}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	city : attributes.uriParams.city,
	region : attributes.uriParams.region
}]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
